.mce-window.mce-container:not([aria-label="Keyboard Shortcuts"]) {
  width: 600px;
  left: calc(50dvw - 300px) !important;
}

.mce-toolbar-grp .mce-btn, .mce-toolbar-grp .mce-txt,
.mce-floatpanel .mce-btn,
.mce-floatpanel .mce-txt {
  font-family: system-ui !important;
}
.mce-toolbar-grp button,
.mce-floatpanel button {
  font-family: inherit !important;
}

.mce-doublee-miniblock-modal {
  height: fit-content !important;
  min-width: 700px !important;
}
.mce-doublee-miniblock-modal * {
  font-family: system-ui !important;
}
.mce-doublee-miniblock-modal .mce-window-head,
.mce-doublee-miniblock-modal .mce-window-body,
.mce-doublee-miniblock-modal .mce-foot {
  box-sizing: border-box !important;
  position: relative;
  padding-inline: 1rem !important;
  border: 0 !important;
}
.mce-doublee-miniblock-modal .mce-window-head {
  padding-block: 0.5rem !important;
}
.mce-doublee-miniblock-modal .mce-window-head .mce-title {
  padding-inline-start: 0 !important;
}
.mce-doublee-miniblock-modal .mce-window-body {
  width: 100% !important;
  height: auto !important;
}
.mce-doublee-miniblock-modal .mce-window-body > .mce-container > .mce-container-body {
  width: 100% !important;
  height: auto !important;
}
.mce-doublee-miniblock-modal .mce-foot {
  padding: 1rem;
}
.mce-doublee-miniblock-modal .mce-foot .mce-container-body {
  width: 100% !important;
  height: auto !important;
  display: flex;
  gap: 0.25rem;
  justify-content: flex-end;
}
.mce-doublee-miniblock-modal .mce-abs-layout-item {
  position: relative !important;
  left: unset !important;
  top: unset !important;
}
.mce-doublee-miniblock-modal .mce-abs-end {
  display: none;
}
.mce-doublee-miniblock-modal .mce-formitem {
  padding-block: 0.25rem;
}
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body {
  align-items: center;
  height: fit-content !important;
  position: relative !important;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: repeat(9, 1fr);
}
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body .mce-label {
  position: relative !important;
  width: auto !important;
  height: auto !important;
  grid-column: span 2;
  text-wrap: wrap;
  line-height: 1.2 !important;
}
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body > textarea,
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body > input,
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body > .mce-listbox,
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body > .mce-container {
  grid-column: span 7;
  border-radius: 0.25rem;
}
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body > textarea,
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body > input {
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100% !important;
}
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body > input {
  height: auto !important;
}
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body > .mce-container {
  width: auto !important;
}
.mce-doublee-miniblock-modal .mce-formitem > .mce-container-body > .mce-container > .mce-container-body {
  width: 100% !important;
  height: auto !important;
}
.mce-doublee-miniblock-modal .mce-container {
  position: relative !important;
  height: fit-content !important;
}
.mce-doublee-miniblock-modal .mce-listbox {
  padding: 0.25rem !important;
  height: fit-content !important;
  position: relative !important;
  width: auto !important;
  left: unset !important;
}
.mce-doublee-miniblock-modal .mce-listbox button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  box-sizing: border-box !important;
  padding-block: 0 !important;
  padding-inline-start: 0 !important;
}
.mce-doublee-miniblock-modal .mce-listbox button:has(.mce-doublee-custom-icon) .mce-ico {
  display: none;
}

.mce-doublee-custom-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem !important;
  height: 2rem;
  border-radius: 2px;
  box-sizing: border-box;
}
.mce-doublee-custom-icon svg {
  display: block;
  height: 2rem;
  padding: 0;
}
.mce-doublee-custom-icon svg path {
  transition: all 0.2s ease-in-out;
  fill: rgb(117, 117, 117);
}
.mce-menu-item:has(.mce-doublee-custom-icon) {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  width: fit-content !important;
  padding: 2px;
  margin: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
  font-size: 0;
}
.mce-menu-item:has(.mce-doublee-custom-icon) .mce-ico {
  display: none;
}
.mce-menu-item:has(.mce-doublee-custom-icon).mce-active {
  background: transparent !important;
}

.mce-menu-item.mce-active .mce-doublee-custom-icon, .mce-btn .mce-doublee-custom-icon {
  background: rgb(30, 30, 30);
}
.mce-menu-item.mce-active .mce-doublee-custom-icon svg path, .mce-btn .mce-doublee-custom-icon svg path {
  fill: white;
}

.mce-color-theme-field {
  display: flex !important;
  align-items: center;
}
.mce-color-theme-field__swatch {
  display: flex !important;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  transition: background 0.3s, border-color 0.3s;
}
.mce-color-theme-field__swatch:before {
  content: "";
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 1.75rem;
  border: 1px solid transparent;
}
.mce-color-theme-field__swatch:after {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.mce-color-theme-field__swatch[role=menuitem].mce-active, .mce-color-theme-field__swatch[role=menuitem]:hover, .mce-color-theme-field__swatch[role=menuitem]:focus {
  background: transparent !important;
  border-color: #1d1f21 !important;
}
.mce-color-theme-field__swatch[role=menuitem].mce-active:after {
  content: "\f00c";
  font-family: var(--fa-style-family-classic);
  font-size: 1rem;
  font-weight: 700;
}
.mce-color-theme-field__swatch {
  font-size: 0 !important;
  border-radius: 1.75rem;
  border: 2px solid transparent !important;
  width: fit-content !important;
  height: fit-content !important;
  justify-content: center;
}
.mce-color-theme-field__swatch--primary:before {
  background-color: var(--color-primary);
}
.mce-color-theme-field__swatch--primary:after {
  color: var(--readable-color-primary);
}
.mce-color-theme-field__swatch--secondary:before {
  background-color: var(--color-secondary);
}
.mce-color-theme-field__swatch--secondary:after {
  color: var(--readable-color-secondary);
}
.mce-color-theme-field__swatch--accent:before {
  background-color: var(--color-accent);
}
.mce-color-theme-field__swatch--accent:after {
  color: var(--readable-color-accent);
}
.mce-color-theme-field__swatch--info:before {
  background-color: var(--color-info);
}
.mce-color-theme-field__swatch--info:after {
  color: var(--readable-color-info);
}
.mce-color-theme-field__swatch--warning:before {
  background-color: var(--color-warning);
}
.mce-color-theme-field__swatch--warning:after {
  color: var(--readable-color-warning);
}
.mce-color-theme-field__swatch--success:before {
  background-color: var(--color-success);
}
.mce-color-theme-field__swatch--success:after {
  color: var(--readable-color-success);
}
.mce-color-theme-field__swatch--error:before {
  background-color: var(--color-error);
}
.mce-color-theme-field__swatch--error:after {
  color: var(--readable-color-error);
}
.mce-color-theme-field__swatch--light:before {
  background-color: var(--color-light);
}
.mce-color-theme-field__swatch--light:after {
  color: var(--readable-color-light);
}
.mce-color-theme-field__swatch--dark:before {
  background-color: var(--color-dark);
}
.mce-color-theme-field__swatch--dark:after {
  color: var(--readable-color-dark);
}
.mce-color-theme-field__swatch--white:before {
  background-color: var(--color-white);
}
.mce-color-theme-field__swatch--white:after {
  color: var(--readable-color-white);
}
.mce-color-theme-field__swatch--inherit {
  line-height: 1 !important;
}
.mce-color-theme-field__swatch--inherit:before {
  background-color: transparent;
  content: "\f05e";
  font-family: var(--fa-style-family-classic);
  font-size: 1.75rem;
  color: #999;
}
.mce-color-theme-field__swatch--inherit:after {
  color: #3f3f3f;
}
.mce-color-theme-field__swatch .mce-text {
  font-size: 0;
}
[role=menu]:has(.mce-color-theme-field__swatch) {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 1.75rem;
  padding: 0.25rem;
}

.mce-btn .mce-color-theme-field__swatch {
  width: 3.5rem !important;
}

body:has(.mce-doublee-miniblock-modal) .mce-menu-has-icons {
  padding: 0;
  margin: 0;
  overflow: visible;
}
body:has(.mce-doublee-miniblock-modal) .mce-menu-has-icons [role=menu] {
  display: flex;
  flex-direction: row;
  gap: 2px;
  border: 1px solid #CCC;
  padding: 2px;
  width: fit-content;
}
body:has(.mce-doublee-miniblock-modal) .mce-menu-has-icons [role=menu] .mce-menu-item .mce-text {
  display: block;
  font-size: 0.75rem;
  position: absolute;
  z-index: 10;
  background: rgb(30, 30, 30);
  color: white;
  padding: 0.25rem;
  opacity: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s ease;
}
body:has(.mce-doublee-miniblock-modal) .mce-menu-has-icons [role=menu] .mce-menu-item:hover, body:has(.mce-doublee-miniblock-modal) .mce-menu-has-icons [role=menu] .mce-menu-item:focus, body:has(.mce-doublee-miniblock-modal) .mce-menu-has-icons [role=menu] .mce-menu-item:active {
  background: #EEE;
}
body:has(.mce-doublee-miniblock-modal) .mce-menu-has-icons [role=menu] .mce-menu-item:hover .mce-text, body:has(.mce-doublee-miniblock-modal) .mce-menu-has-icons [role=menu] .mce-menu-item:focus .mce-text, body:has(.mce-doublee-miniblock-modal) .mce-menu-has-icons [role=menu] .mce-menu-item:active .mce-text {
  opacity: 1;
}

#button-group-form-container {
  padding-bottom: 0.75rem;
}
#button-group-form-container > .acf-fields p {
  text-wrap: wrap;
}
#button-group-form-container .acf-field-repeater {
  padding: 0 !important;
  margin-top: 0.5rem !important;
}
#button-group-form-container .acf-field-repeater > .acf-label {
  display: none;
}
#button-group-form-container .acf-field-repeater .acf-table {
  border: 1px solid #CCC;
}
#button-group-form-container .acf-field-link .acf-link.-value {
  max-width: 320px !important;
}
#button-group-form-container .acf-field-link .acf-link.-value .link-wrap {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
#button-group-form-container .acf-field-link .acf-link.-value .link-wrap .link-title {
  padding-left: 0;
}
#button-group-form-container .acf-field-link .acf-link.-value .link-wrap .link-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#button-group-form-container .acf-field-link .acf-link.-value .link-wrap .acf-icon[title=Edit] {
  margin-left: auto;
}

.mce-content-body [contenteditable=false] {
  cursor: pointer;
}

/*# sourceMappingURL=common.css.map */
