.mce-window.mce-container:not([aria-label="Keyboard Shortcuts"]) {
  width: 600px;
  left: calc(50dvw - 300px) !important;
}
.mce-window.mce-container:not([aria-label="Keyboard Shortcuts"]):has(#button-group-form-container) {
  width: 700px !important;
}

.mce-floatpanel [role=menu]:has(.mce-color-theme-field__swatch) {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 1.75rem;
  padding: 0.25rem;
}

.mce-color-theme-field {
  height: 2.5rem !important;
}
.mce-color-theme-field__swatch {
  display: flex !important;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  transition: background 0.3s, border-color 0.3s;
}
.mce-color-theme-field__swatch:before {
  content: "";
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 1.75rem;
  border: 1px solid transparent;
}
.mce-color-theme-field__swatch:after {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.mce-color-theme-field__swatch.mce-active, .mce-color-theme-field__swatch:hover, .mce-color-theme-field__swatch:focus {
  background: transparent !important;
  border-color: #1d1f21 !important;
}
.mce-color-theme-field__swatch.mce-active:after {
  content: "\f00c";
  font-family: var(--fa-style-family-classic);
  font-size: 1rem;
  font-weight: 700;
}
.mce-color-theme-field__swatch {
  font-size: 0 !important;
  border-radius: 1.75rem;
  border: 2px solid transparent !important;
  width: fit-content !important;
  height: fit-content !important;
  justify-content: center;
}
.mce-color-theme-field__swatch--primary:before {
  background-color: var(--color-primary);
}
.mce-color-theme-field__swatch--primary:after {
  color: var(--readable-color-primary);
}
.mce-color-theme-field__swatch--secondary:before {
  background-color: var(--color-secondary);
}
.mce-color-theme-field__swatch--secondary:after {
  color: var(--readable-color-secondary);
}
.mce-color-theme-field__swatch--accent:before {
  background-color: var(--color-accent);
}
.mce-color-theme-field__swatch--accent:after {
  color: var(--readable-color-accent);
}
.mce-color-theme-field__swatch--info:before {
  background-color: var(--color-info);
}
.mce-color-theme-field__swatch--info:after {
  color: var(--readable-color-info);
}
.mce-color-theme-field__swatch--warning:before {
  background-color: var(--color-warning);
}
.mce-color-theme-field__swatch--warning:after {
  color: var(--readable-color-warning);
}
.mce-color-theme-field__swatch--success:before {
  background-color: var(--color-success);
}
.mce-color-theme-field__swatch--success:after {
  color: var(--readable-color-success);
}
.mce-color-theme-field__swatch--error:before {
  background-color: var(--color-error);
}
.mce-color-theme-field__swatch--error:after {
  color: var(--readable-color-error);
}
.mce-color-theme-field__swatch--light:before {
  background-color: var(--color-light);
}
.mce-color-theme-field__swatch--light:after {
  color: var(--readable-color-light);
}
.mce-color-theme-field__swatch--dark:before {
  background-color: var(--color-dark);
}
.mce-color-theme-field__swatch--dark:after {
  color: var(--readable-color-dark);
}
.mce-color-theme-field__swatch--white:before {
  background-color: var(--color-white);
}
.mce-color-theme-field__swatch--white:after {
  color: var(--readable-color-white);
}
.mce-color-theme-field__swatch--inherit:before {
  background-color: transparent;
  content: "\f05e";
  font-family: var(--fa-style-family-classic);
  font-size: 1.75rem;
  color: #999;
}
.mce-color-theme-field__swatch--inherit:after {
  color: #3f3f3f;
}
.mce-color-theme-field__swatch .mce-text {
  font-size: 0;
}
.mce-color-theme-field > button {
  display: flex !important;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  transition: background 0.3s, border-color 0.3s;
}
.mce-color-theme-field > button:before {
  content: "";
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 1.75rem;
  border: 1px solid transparent;
}
.mce-color-theme-field > button:after {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.mce-color-theme-field > button.mce-active, .mce-color-theme-field > button:hover, .mce-color-theme-field > button:focus {
  background: transparent !important;
  border-color: #1d1f21 !important;
}
.mce-color-theme-field > button.mce-active:after {
  content: "\f00c";
  font-family: var(--fa-style-family-classic);
  font-size: 1rem;
  font-weight: 700;
}
.mce-color-theme-field > button {
  height: 100%;
  display: flex !important;
  width: 100% !important;
  justify-content: unset !important;
}

.mce-container-body:has(#button-group-form-container) {
  background: white;
  min-height: 300px !important;
  width: auto !important;
  display: flex !important;
  flex-direction: column;
}
.mce-container-body:has(#button-group-form-container) > .mce-label {
  position: relative !important;
  display: block;
  top: unset !important;
}

#button-group-form-container > .acf-fields p {
  text-wrap: wrap;
}
#button-group-form-container .acf-field-repeater {
  padding: 0 !important;
  margin-top: 0.5rem !important;
}
#button-group-form-container .acf-field-repeater > .acf-label {
  display: none;
}
#button-group-form-container .acf-field-repeater .acf-table {
  border: 1px solid #CCC;
}

.mce-content-body [contenteditable=false] {
  cursor: pointer;
}

/*# sourceMappingURL=common.css.map */
