$swatchSize: 1.75rem;

@mixin swatch-base() {
	display: flex !important;
	align-items: center;
	padding: 0 !important;
	margin: 0 !important;
	position: relative;
	transition: background 0.3s, border-color 0.3s;

	&:before {
		content: '';
		display: block;
		width: 1.75rem;
		height: 1.75rem;
		border-radius: 1.75rem;
		border: 1px solid transparent;
	}

	&:after {
		position: absolute;
		left: 1px;
		top: 1px;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
	}

	&[role="menuitem"] {
		&.mce-active,
		&:hover,
		&:focus {
			background: transparent !important;
			border-color: #1d1f21 !important;
		}

		&.mce-active {
			&:after {
				content: '\f00c';
				font-family: var(--fa-style-family-classic);
				font-size: 1rem;
				font-weight: 700;
			}
		}
	}
}

.mce-window.mce-container:not([aria-label="Keyboard Shortcuts"]) {
	width: 600px;
	left: calc(50dvw - 300px) !important;
}

.mce-doublee-miniblock-modal {
	height: fit-content !important;
	min-width: 700px !important;

	.mce-window-head,
	.mce-window-body,
	.mce-foot {
		box-sizing: border-box !important;
		position: relative;
		padding-inline: 1rem !important;
		border: 0 !important;
	}

	.mce-window-head {
		padding-block: 0.5rem !important;

		.mce-title {
			padding-inline-start: 0 !important;
		}
	}

	.mce-window-body {
		width: 100% !important;
		height: auto !important;

		> .mce-container > .mce-container-body {
			width: 100% !important;
			height: auto !important;
		}
	}

	.mce-foot {
		padding: 1rem;

		.mce-container-body {
			width: 100% !important;
			height: auto !important;
			display: flex;
			gap: 0.25rem;
			justify-content: flex-end;
		}
	}

	.mce-abs-layout-item {
		position: relative !important;
		left: unset !important;
		top: unset !important;
	}

	.mce-abs-end {
		display: none;
	}

	.mce-formitem {
		padding-block: 0.25rem;

		> .mce-container-body {
			align-items: center;
			height: fit-content !important;
			position: relative !important;
			display: grid;
			grid-gap: 0.25rem;
			grid-template-columns: repeat(9, 1fr);

			.mce-label {
				position: relative !important;
				width: auto !important;
				height: auto !important;
				grid-column: span 2;
				text-wrap: wrap;
				line-height: 1.2 !important;
			}

			> textarea,
			> input,
			> .mce-listbox,
			> .mce-container {
				grid-column: span 7;
				border-radius: 0.25rem;
			}

			> textarea,
			> input {
				padding: 0.5rem;
				box-sizing: border-box;
				width: 100% !important;
			}

			> input {
				height: auto !important;
			}

			> .mce-container {
				width: auto !important;

				> .mce-container-body {
					width: 100% !important;
					height: auto !important;
				}
			};
		}
	}

	.mce-container {
		position: relative !important;
		height: fit-content !important;
	}

	// All custom listboxes in modals - initial menu component
	.mce-listbox {
		padding: 0.25rem !important;
		height: fit-content !important;
		position: relative !important;
		width: auto !important;
		left: unset !important;

		button {
			display: flex;
			align-items: center;
			gap: 0.25rem;
			box-sizing: border-box !important;
			padding-block: 0 !important;
			padding-inline-start: 0 !important;
			// leave end padding for arrow

			&:has(.mce-doublee-custom-icon) {
				.mce-ico {
					display: none;
				}
			}
		}
	}
}


// Custom icons added in TinyMCE modals by our JS code
.mce-doublee-custom-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem !important;
	height: 2rem;
	border-radius: 2px;
	box-sizing: border-box;

	svg {
		display: block;
		height: 2rem;
		padding: 0;

		path {
			transition: all 0.2s ease-in-out;
			fill: rgb(117, 117, 117);
		}
	}

	@at-root .mce-menu-item:has(&) {
		display: flex;
		justify-content: center;
		border-radius: 2px;
		width: fit-content !important;
		padding: 2px;
		margin: 0;
		transition: all 0.2s ease-in-out;
		position: relative;
		font-size: 0; // hide empty whitespace that affects width
		.mce-ico {
			display: none;
		}

		&.mce-active {
			background: transparent !important;
		}
	}

	.mce-menu-item.mce-active &,
	.mce-btn & {
		background: rgb(30, 30, 30);

		svg {
			path {
				fill: white;
			}
		}
	}
}

// Custom colour theme field in TinyMCE modals
.mce-color-theme-field {
	display: flex !important;
	align-items: center;

	&__swatch {
		@include swatch-base();
		font-size: 0 !important;
		border-radius: $swatchSize;
		border: 2px solid transparent !important;
		width: fit-content !important;
		height: fit-content !important;
		justify-content: center;

		@each $colorName in ['primary', 'secondary', 'accent', 'info', 'warning', 'success', 'error', 'light', 'dark', 'white'] {
			&--#{$colorName} {
				&:before {
					background-color: var(--color-#{$colorName});
				}

				&:after {
					color: var(--readable-color-#{$colorName});
				}
			}
		}

		&--inherit {
			&:before {
				background-color: transparent;
				content: '\f05e';
				font-family: var(--fa-style-family-classic);
				font-size: 1.75rem;
				color: #999;
			}

			&:after {
				color: #3f3f3f;
			}
		}

		.mce-text {
			font-size: 0;
		}

		@at-root [role="menu"]:has(&) {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;
			height: $swatchSize;
			padding: 0.25rem;
		}

		.mce-btn & {
			width: 3.5rem !important; // for alignment with halign field elements
		}
	}
}

// Custom listboxes in modals with icons - dropdown menu
.mce-menu-has-icons {
	body:has(.mce-doublee-miniblock-modal) & {
		padding: 0;
		margin: 0;
		overflow: visible; // for the tooltips

		[role="menu"] {
			display: flex;
			flex-direction: row;
			gap: 2px;
			border: 1px solid #CCC;
			padding: 2px;
			width: fit-content;

			.mce-menu-item {
				.mce-text {
					display: block;
					font-size: 0.75rem;
					position: absolute;
					z-index: 10;
					background: rgb(30, 30, 30);
					color: white;
					padding: 0.25rem;
					opacity: 0;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					transition: opacity 0.2s ease;
				}

				&:hover, &:focus, &:active {
					background: #EEE;

					.mce-text {
						opacity: 1;
					}
				}
			}
		}
	}
}

#button-group-form-container {
	padding-bottom: 0.75rem;

	> .acf-fields {
		p {
			text-wrap: wrap;
		}
	}

	.acf-field-repeater {
		padding: 0 !important;
		margin-top: 0.5rem !important;

		> .acf-label {
			display: none;
		}

		.acf-table {
			border: 1px solid #CCC;
		}
	}

	.acf-field-link {

		.acf-link.-value {
			max-width: 320px !important;

			.link-wrap {
				width: 100%;
				box-sizing: border-box;
				display: flex;
				flex-wrap: wrap;

				.link-title {
					padding-left: 0;
				}

				.link-url {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.acf-icon[title="Edit"] {
					margin-left: auto;
				}
			}
		}
	}
}

.mce-content-body [contenteditable="false"] {
	cursor: pointer;
}
